.blogpage {
    position: relative;
    width:90% ; 
    margin: 2% auto;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
}



.HeaderBlog {
    text-align: center;
    margin: 30px;
}

.addNewPost {
    text-align: center;
    margin: 30px;
    position: relative;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
