.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
/* .post-img {
    width: 20px
} */

.postControl {
    display: flex;
    align-items: center;
    margin: auto;
}
.editbtn {
    margin: 5px;
}

.deletebtn {
    text-align: left;
}
