.editPostForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;

    padding: 30px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    text-align: center;

}