.containerabout{
    margin: 14% auto;
    width: 70%;
}
.aboutfond{
    padding: 50px 50px 75px 10px;
}
.mission{
    background-color: rgb(250, 250, 250);
    margin: 2% auto;
}

.missiontext{
    text-align: center;
}

.scope{
    margin: 5% auto;
}
.scopestext{
    text-align: center;
    margin: 2% auto;
}

.aboutinfo{
    background-color: rgb(250, 250, 250);
    margin: 5% auto;
    text-align: center;
}
.aboutarticles{
    margin: 5% auto;
}
.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }